[DEFAULT]
verbose = True
debug = True

[db]
connection_url = postgresql://{{ GC_PG_USER }}:{{ GC_PG_PASS }}@127.0.0.1:5432/{{ GC_PG_DB }}
connection_pool_size = 2

[metrics]
enabled = False

[logging]
config = logging.yaml

[user_api]
bind_host = 0.0.0.0
bind_port = 11010

[iam]
global_salt = {{ global_salt }}
hs256_jwks_encryption_key = {{ hs256_jwks_encryption_key }}

[orch_api]
bind_host = 0.0.0.0
bind_port = 11011

[status_api]
bind_host = 0.0.0.0
bind_port = 11012

[boot_api]
bind_host = {{ boot_ip }}
bind_port = 11013
gc_boot_api = http://{{ boot_ip }}:11013
initrd = http://{{ boot_ip }}:8080/bios/initrd.img
kernel = http://{{ boot_ip }}:8080/bios/vmlinuz


[launchpad]
common_registrator_opts = exordos_core.cmd.repo_proxy_gservice:register_common_opts
common_initializer = exordos_core.cmd.repo_proxy_gservice:init_common_conf
services =
    exordos_core.repo.builders.repository:RepoProxyBuilderService,
    exordos_core.repo.builders.element:RepoElementBuilderService,
    exordos_core.repo.agents.universal.service:RepoElementAgentService

[events]
enabled = False
# client_type = async
# event_type_mapping_filepath = event_type_mapping.yaml
# exordos_notification_endpoint = http://127.0.0.1:8080/
# exordos_api_version = v1
# exordos_api_token = "<insert token here>"
#
# Enabling delivery to the notification service is done at runtime by the
# exordos_notification element, which drops an [events] override into
# /etc/exordos_core/exordos_core.d/ (loaded via --config-dir by ec-user-api).

