[Unit]
Description=Exordos Core General Service
After=network-online.target

[Service]
Restart=always
RestartSec=5s
TimeoutStopSec=5
# Use jemalloc to avoid glibc arena retention/fragmentation
Environment=LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2
ExecStart=ec-gservice --config-file /etc/exordos_core/exordos_core.conf --config-dir /etc/exordos_core/exordos_core.d

[Install]
WantedBy=multi-user.target
