[Unit]
Description=Exordos Universal Scheduler Service
After=network-online.target

[Service]
Restart=always
RestartSec=5s
TimeoutStopSec=5
# Use jemalloc to avoid glibc arena retention/fragmentation
Environment=LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2
ExecStart=exordos-universal-scheduler --config-file /etc/exordos_universal_agent/exordos_universal_agent.conf

[Install]
WantedBy=multi-user.target
